vti_encoding:SR|utf8-nl
vti_author:SR|ADMIN-PC\\Admin
vti_modifiedby:SR|ADMIN-PC\\Admin
vti_timelastmodified:TR|04 Sep 2023 10:20:13 -0000
vti_timecreated:TR|04 Sep 2023 10:20:13 -0000
vti_cacheddtm:TX|04 Sep 2023 10:20:13 -0000
vti_filesize:IR|1854
vti_cachedlinkinfo:VX|S|poehorsd.gif S|poebul1d.gif S|poebul2d.gif S|poebul3d.gif S|poebannd.gif S|poehbudd.gif S|poehbusd.gif S|poevbudd.gif S|poevbusd.gif S|poehombd.gif S|poenexbd.gif S|poeprebd.gif S|poeupbd.gif S|poebul1d.gif S|poebul2d.gif S|poebul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/poetic/poehorsd.gif FSUS|_themes/poetic/poebul1d.gif FSUS|_themes/poetic/poebul2d.gif FSUS|_themes/poetic/poebul3d.gif FSUS|_themes/poetic/poebannd.gif FSUS|_themes/poetic/poehbudd.gif FSUS|_themes/poetic/poehbusd.gif FSUS|_themes/poetic/poevbudd.gif FSUS|_themes/poetic/poevbusd.gif FSUS|_themes/poetic/poehombd.gif FSUS|_themes/poetic/poenexbd.gif FSUS|_themes/poetic/poeprebd.gif FSUS|_themes/poetic/poeupbd.gif FSUS|_themes/poetic/poebul1d.gif FSUS|_themes/poetic/poebul2d.gif FSUS|_themes/poetic/poebul3d.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{3ABD8B5B-D09A-4279-B9C5-B66893204EDF}
vti_backlinkinfo:VX|
